.Palette {
  height: 100vh;
}

.Palette-colors {
  height: 90%;
}

.slider {
  width: 350px;
  margin: 0 10px;
  display: inline-block;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}
